<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SMGMT</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.servletStore.common.DoLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.servletStore.common.DoLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Caste</servlet-name>
    <servlet-class>com.servletStore.caste.controller.Caste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Caste</servlet-name>
    <url-pattern>/Caste</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Campus</servlet-name>
    <servlet-class>com.servletStore.campus.controller.Campus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Campus</servlet-name>
    <url-pattern>/Campus</url-pattern>
  </servlet-mapping>
	<servlet>
    <servlet-name>AddSchool</servlet-name>
    <servlet-class>com.servletStore.settings.school.controller.School</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSchool</servlet-name>
    <url-pattern>/AddSchool</url-pattern>
  </servlet-mapping>
</web-app>