
/*
|----------------------------------------------------------------------------
| 16. Google-map Style
|----------------------------------------------------------------------------
*/

@import "../variable";
.map-style-one{
	width: 100%;
	height: 515px;
}
.map-style-two{
	width: 100%;
	height: 345px;
}
